<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>776938893956-6e2c0bgdfj22iv8534upkqksc1esqphc.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.776938893956-6e2c0bgdfj22iv8534upkqksc1esqphc</string>
	<key>API_KEY</key>
	<string>AIzaSyDctV3i5r8sW-s-agBrlmHcegrq5dbEkm4</string>
	<key>GCM_SENDER_ID</key>
	<string>776938893956</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>br.com.vibbra.notifications.vibbraNotifications</string>
	<key>PROJECT_ID</key>
	<string>social-login-7a7e6</string>
	<key>STORAGE_BUCKET</key>
	<string>social-login-7a7e6.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:776938893956:ios:775b5a5e9bba933e0848d1</string>
</dict>
</plist>